{% extends 'base.html' %}
{% block title %}Mis Campañas{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1>Mis Campañas</h1>
  {% if campanas %}
    <ul>
      {% for c in campanas %}
        <li>
          <!-- Enlace al detalle de la campaña -->
          <a href="{% url 'detalle_campana' c.id %}">
            {{ c.nombre }}
          </a>
          - Estado: {{ c.estado }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No has creado campañas.</p>
  {% endif %}
</div>
{% endblock %}
